.todo{
    margin-top: 0px;
    padding: 0;
    background-image: url('../imgs/fondo1.jpg');
    background-size: 1600px;
    background-color: #1E293B;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 18.5%;
}
#formulario{
    padding-top: 10%;
    padding-bottom: 10%;
}
.contenedor-principal{
    margin-top: 12%;
    width: 40%;
    border-radius: 2px;
}
.cuadro{
    background-color:#E2E8F0;
}
.Cabecera-login{
    background-color: #E2E8F0;
    padding-top: 10%;
    border-radius: 5px;
}
.Body-login{
    background-color: #E2E8F0;
    border-radius: 0px 0px 5px 5px;
    padding-top: 50px;
}
.pswr{
    text-align: left;
}
.titulo-cabecera{
    color: #64748B;
}
.boton-login{
    background-color: #1E293B;
}
li{
    list-style: none;
    margin: 1% 1% 0px 2%;
}
nav{
    display: flex;
    padding: 0;
    width: 15%;
    padding: 10px;
    background-color:#E2E8F0;
    border-radius: 5px;
}